<div class="container">
    <div class="jumbotron">
        <h1>Order Your Juicy Burger Here! </h1>
        <br>
        <h2>Choose a Juicy Burger</h2>
        
        {{!-- Panel with order form --}}
        <panel>
            <form class="cyo-form">
                <div class="form-group">
                    <label for="newburger">Which Juicy Burger would you like? </label>

                    {{!-- <input type="text" id="cyoburger" name="burger"> --}}
                    <select data-placeholder="" id="newburger" name="burger">
                        <option value="Nothing Selected" selected>Select a Juicy Burger</option>
                        <option value="Hamburger">Hamburger</option>
                        <option value="Cheese Burger">CheeseBurger</option>
                        <option value="California Burger">California Burger</option>
                        <option value="Aloha Burger">Aloha Burger</option>
                        <option value="Impossible Burger">Impossible Burger</option>
                        <option value="Salmon Burger">Salmon Burger</option>
                    </select>

                    <button type="submit" class="btn btn-danger" id="addburger">
                        <span class="fa fa-thumbs-up"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>

{{! Row ?????????????????????????????? }}
<br><br>
   <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Your Current Order</strong>
                <br><br>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}

                            <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                            <button type="button" class="eatburger btn btn-danger" id="eatbutton" data-id="{{this.id}}"
                                data-newDevoured="{{devour}}"><span class="fa fa-usd"></span></button>
                            <hr>
                            
                            {{/unless}}
                            {{/each}}

                    </ul>

                </div>
            </div>
        </div>


        {{! Column ?????????????????????????????? }}
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Pick up your Juicy Burger HERE! </strong>
                    <p>Delete your order when delivered</p>
                </div>
                <div class="panel-body">
                    <ul>

                        {{#each burgers}}
                        {{#if devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="deleteburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                        <hr>

                        {{/if}}
                        {{/each}}
                        
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>