<div class="container">
    <div class="jumbotron">
        <h1>Order Here! </h1>
        <p>Juicy Burger Orders.</p>
        <br>
        <h2>Choose your Juicy Burger</h2>
        
        {{!-- Panel with order form --}}
        <panel>
            <form class="cyo-form">
                <div class="form-group">
                    <label for="cyoBurger">Order A Juicy Burger</label>

                    {{!-- <input type="text" id="cyoburger" name="burger"> --}}
                    <select data-placeholder="" id="cyoburger" name="burger">
                        <option value="Nothing Selected" selected>Please Select a Juicy Burger</option>
                        <option value="Hamburger">Hamburger</option>
                        <option value="CheeseBurger">CheeseBurger</option>
                        <option value="California Burger">California Burger</option>
                        <option value="Aloha Burger">Aloha Burger</option>
                        <option value="Impossible Burger">Impossible Burger</option>
                        <option value="Salmon Burger">Salmon Burger</option>
                    </select>

                    <button type="submit" class="btn btn-dark" id="addburger">
                        <span class="burgertime"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>



{{!--***************************************************************************************************************************************** --}}
<div class="col-md-6 text-center" class="task">
			<div class="row">
			  {{#each burger_data}}
			  	{{#unless this.devoured}}
				<div class="col-md-9 text-center">
					<pre>{{this.id}}. {{this.burger_name}}
					</pre>
				  		<!-- {{this.Date}} -->
				</div>
				<div class="col-md-3 text-center">
					<form class="devour-form button-size">
						<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-default">Devour it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-md-6 text-center" class="task">
			  {{#each burger_data}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>











</div>