<div class="container">
    <div class="jumbotron">
        <h1>Order Your Juicy Burger Here! </h1>
        <br>
        <h2>Choose a Juicy Burger</h2>
        
        {{!-- Panel with order form --}}
        <panel>
            <form class="cyo-form">
                <div class="form-group">
                    <label for="cyoBurger">Which Juicy Burger would you like? </label>

                    {{!-- <input type="text" id="cyoburger" name="burger"> --}}
                    <select data-placeholder="" id="cyoburger" name="burger">
                        <option value="Nothing Selected" selected>Select a Juicy Burger</option>
                        <option value="Hamburger">Hamburger</option>
                        <option value="CheeseBurger">CheeseBurger</option>
                        <option value="California Burger">California Burger</option>
                        <option value="Aloha Burger">Aloha Burger</option>
                        <option value="Impossible Burger">Impossible Burger</option>
                        <option value="Salmon Burger">Salmon Burger</option>
                    </select>

                    <button type="submit" class="btn btn-danger" id="addburger">
                        <span class="burgertime"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>

{{! Row ?????????????????????????????? }}
<br><br>
   <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Your Current Order</strong>
                <br><br>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger btn btn-danger" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="devourtime"></span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>







{{!--***************************************************************************************************************************************** --}}
{{!-- <div class="col-md-6 text-center" class="task">
			<div class="row">
			  {{#each burger_data}}
			  	{{#unless this.devoured}}
				<div class="col-md-9 text-center">
					<pre>{{this.id}}. {{this.burger_name}}
					</pre>
				  		<!-- {{this.Date}} -->
				</div>
				<div class="col-md-3 text-center">
					<form class="devour-form button-size">
						<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-default">Devour it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-md-6 text-center" class="task">
			  {{#each burger_data}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div> --}}











</div>